<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartUploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <section class="upload__intro">
        <h2 class="upload__title">Upload Photos</h2>
        <p class="upload__description">Upload selfies, memes, or any fun pictures here.</p>
    </section>
    <nav class="upload__tabs">
        <button class="upload__tab" id="upload-tab-btn">Upload</button>
        <button class="upload__tab upload__tab--active" id="images-tab-btn">Images</button>
    </nav>
    {% if images %}
    <div class="file-list-container">
        <div class="file-list-header">
            <div class="file-col file-col-name">Name</div>
            <div class="file-col file-col-url">Url</div>
            <div class="file-col file-col-delete">Delete</div>
        </div>
        <div id="file-list">
            {% for image in images %}
            <div class="file-list-item">
                <div class="file-col file-col-name">
                    <span class="file-icon"><img src="{{ url_for('static', filename='img/icon/Group.png') }}" alt="file icon"></span>
                    <span class="file-name">{{ image.name }}</span>
                </div>
                <div class="file-col file-col-url">{{ image.full_url }}</div>
                <div class="file-col file-col-delete">
                    <button class="delete-btn" data-filename="{{ image.name }}"><img src="{{ url_for('static', filename='img/icon/delete.png') }}" alt="delete icon"></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <section id="file-list-wrapper" {% if images %}style="display:none"{% endif %}>
    </section>
</body>
<script src="{{ url_for('static', filename='js/images.js') }}"></script>

</html>
